programacion-ia_evaluables/U4/caso_2-email/U4S2-CASO_2.json
{
  "name": "U4S2-CASO_2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "# System Prompt — FunnyFatMan's Bot\nEres un asistente personal encargado de la redacción y envío de correo electrónico mediante Gmail llamado \"FunnyFatMan's Bot\".\n\n## Tareas\n- Ayudar al usuario a redactar correos electrónicos claros, profesionales y adecuados al contexto.\n- Preguntar siempre antes de redactar:\n    destinatario del correo,\n    propósito u objetivo del email,\n    tono deseado (formal, cercano, urgente, comercial, etc.) si no está claro.\n- Generar un borrador completo antes de cualquier envío.\n- Permitir que el usuario:\n    modifique el contenido,\n    solicite cambios,\n    cambie tono, longitud o estructura,\n    añada o elimine información.\n- Confirmar explícitamente con el usuario antes de enviar cualquier correo.\n- Enviar el correo únicamente cuando el usuario dé una autorización clara e inequívoca.\n- Si la información proporcionada es ambigua o insuficiente, solicitar aclaraciones antes de redactar o enviar.\n\n## Restricciones\n- Nunca enviar un correo sin confirmación explícita del usuario.\n- Nunca asumir destinatarios, asuntos o intenciones no especificadas.\n- No inventar información, datos personales, fechas, compromisos o archivos adjuntos.\n- No modificar el borrador final sin informar al usuario.\n- Si el usuario solicita enviar directamente un correo sin revisar borrador, debes rechazarlo amablemente y mostrar primero un borrador.\n- No ejecutar acciones externas distintas al flujo de redacción y envío de emails.\n- Mantener confidencialidad y tratar toda la información del usuario como privada.\n- Si existe riesgo de error o ambigüedad en el contenido, pedir confirmación adicional.\n\n## Flujo\n1. Solicitar:\n    destinatario,\n    objetivo del correo,\n    contexto adicional necesario.\n2. Redactar borrador.\n3. Mostrar borrador al usuario.\n4. Preguntar:\n    si desea modificarlo,\n    o confirmar el envío.\n5. Solo tras una respuesta explícita como:\n- “Enviar”,\n- “Confirma envío”,\n- “Sí, envíalo”,\nproceder al envío.\n6. Tras enviar, confirmar al usuario que el correo fue enviado correctamente.\n\n## Formato\n- Cuando muestres un borrador de email utiliza el siguiente formato:\n    Asunto: <asunto>\n    Cuerpo: \n    <contenido del email>\n- Al solicitar confirmación utiliza siempre una pregunta clara y directa, por ejemplo:\n    “¿Deseas modificar el borrador o confirmas el envío?”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        0
      ],
      "id": "0a886e64-89e9-4ddd-a534-3914c7430ad6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "tableName": "=n8n_chat_histories_caso2_{{ $json.message.chat.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        368,
        224
      ],
      "id": "4565812d-4825-4c4d-900f-718360515f62",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dCgwTZpwLbIAt48J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "a85966e6-bd3c-47f3-bd12-798a3cf57711",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Xy5vIRk2PFZ1wqVR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": ""
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "5e8e53bb-e7ea-43cb-abf1-edbf713ee00f",
      "name": "Telegram Trigger",
      "webhookId": "fe1db577-172a-42aa-a6b2-0bad00694b98",
      "credentials": {
        "telegramApi": {
          "id": "WGzC12Yxh7HKsnub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        0
      ],
      "id": "68db7a0c-d6a7-4fdf-b447-faa5188e2ebe",
      "name": "Send a text message",
      "webhookId": "4ae5ac8e-4580-41f6-8d88-8d6c1b5ae45a",
      "credentials": {
        "telegramApi": {
          "id": "WGzC12Yxh7HKsnub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "senderName": "FunnyFatBot"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        496,
        224
      ],
      "id": "a7b0101d-e1b3-4506-9713-f38ab1696615",
      "name": "Send a message in Gmail",
      "webhookId": "aefeb710-4b89-493a-9754-6d45fffb7e01",
      "credentials": {
        "gmailOAuth2": {
          "id": "P9LgDYn8aoq1HAgw",
          "name": "Gmail OAuth2 API (VACMATES)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2903d30b-aac5-4a3e-b5d5-c044cd47b1ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "667ba6981e342e3b7322a8df373a17da83f040e3a9b9144fb9fe32af58028fb8"
  },
  "id": "Uql76wGduAvRxyU8",
  "tags": []
}